body {
  background: #0b1220;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.clock-wrapper {
  text-align: center;
}

.clock {
  background: #020617;
  padding: 25px 50px;
  border-radius: 14px;
  font-size: 48px;
  color: #4fd2ff;
  box-shadow: 0 0 25px #1fa9ff;
}

#ampm {
  font-size: 22px;
  margin-left: 8px;
}

.date {
  margin-top: 12px;
  font-size: 16px;
  color: #6fdcff;
  letter-spacing: 1.5px;
}