@import url(./swiper-slider.css);
@import url(./swiper-marquee.css);
@import url(./accordion.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  background-color: rgb(255, 255, 255, 0.7);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  gap: 30px;
  font-size: 14px;
  position: sticky;
  top: 0px;
  z-index: 999;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #171717;
  font-weight: 200;
  gap: 16px;
  margin: 0px;
}
.right {
  display: flex;
  gap: 20px;
}
#menu {
  display: none;
}
.logo {
  width: 20px;
}
.hero {
  background-image: url("./assets/images/hero_holiday_2025__gg4r7ioqlj2i_largetall_2x.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 12px;
  gap: 16px;
  color: #171717;
}
.hero > h1 {
  font-size: 42px;
  text-align: center;
}
.hero > h2 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.hero button {
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: #0071e3;
  padding: 12px 24px;
}
.iphone {
  background-image: url(./assets/images/hero_iphone_17_pro__bknyzxfk2agi_largetall_2x.jpg);
  justify-content: flex-start;
  color: white;
}
.iphone button:nth-child(2) {
  border: 2px solid #0071e3;
  background-color: transparent;
  color: #0071e3;
  margin-left: 10px;
}
.iphone button:nth-child(2):hover {
  background-color: #0071e3;
  color: white;
}
.air {
  background-image: url(./assets/images/hero_iphone_air__0gxyavihpiqu_largetall_2x.jpg);
  color: #171717;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 490px);
  gap: 12px;
  padding: 12px;
}
.pro-3 {
  background-image: url(./assets/images/promo_airpodspro_3__f6xmza7bglei_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.ipad-air {
  background-image: url(./assets/images/promo_ipad_air_avail__6i02t7nujr62_large_2x.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.watch {
  background-image: url(./assets/images/promo_apple_watch_series_11__b63hxviqvonm_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.ipad {
  background-image: url(./assets/images/promo_ipad__fioegapg12qi_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.trade {
  background-image: url(./assets/images/promo_iphone_tradein__bugw15ka691e_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.card {
  background-image: url(./assets/images/promo_apple_card__5cm7draujpey_large.jpg);
  color: #171717;
  gap: 8px;
  height: auto;
}
.footer {
  background-color: #f5f5f7;
  padding: 22px;
  width: 100%;
}
.footer-container {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #0000008f;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons";
}
.f-div2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.f-div2 div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000000b8;
}
.f-heading {
  font-weight: bold;
  color: #000000e0;
}
.mt {
  margin-top: 16px;
}
.f-div3 {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  #menu {
    display: block;
  }
  nav ul {
    display: none;
  }
  nav {
    justify-content: space-between;
    padding-inline: 20px;
  }
  .hero > h1 {
    font-size: 28px;
  }
  .hero > h2 {
    font-size: 16px;
  }
  .hero button {
    font-size: 14px;
    padding: 7px 15px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 490px);
    padding: 5px;
  }
  .iphone {
    background-image: url(./assets/images/hero_iphone_17_pro__bknyzxfk2agi_small_2x.jpg);
  }
  .air {
    background-image: url(./assets/images/hero_iphone_air__0gxyavihpiqu_small_2x.jpg);
  }
  .pro-3 {
    background-image: url(./assets/images/promo_airpodspro_3__f6xmza7bglei_medium_2x.jpg);
  }
  .ipad-air {
    background-image: url(./assets/images/promo_ipad_air_avail__6i02t7nujr62_small_2x.jpg);
  }
  .watch {
    background-image: url(./assets/images/promo_apple_watch_series_11__b63hxviqvonm_medium.jpg);
  }
  .ipad {
    background-image: url(./assets/images/promo_ipad__fioegapg12qi_medium_2x.jpg);
  }
  .trade {
    background-image: url(./assets/images/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg);
  }
  .card {
    background-image: url(./assets/images/promo_apple_card__5cm7draujpey_medium_2x.jpg);
  }
  .f-div3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .f-div3 > p:nth-child(2) {
    order: 3;
  }
  .f-div3 > p:nth-child(3) {
    order: 1;
  }
  .f-div3 > p:nth-child(1) {
    order: 2;
  }
}
.swiper-main {
  position: relative;
  padding-bottom: 40px;
}
.swiper {
  width: 100%;
  height: calc(100vh - 100px);
}

.Myswiper .swiper-wrapper {
  --swiper-wrapper-transition-timing-function: ease-in !important;
}

.swiper-slide {
  width: 80% !important;
  text-align: center;
  font-size: 18px;
  opacity: 1;
  background-size: 100% 100% !important;
}
.swiper-slide-active {
  opacity: 1;
}
.slide-1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent),
    url(./assets/carousel_images/1.jpg);
}

.swiper-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 50px;
}
.swiper-mobile-images {
  display: none;
}
.swiper-content > div:last-child {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.75s;
}
.swiper-slide-active > .swiper-content > div:last-child {
  transform: translateY(0px);
  opacity: 1;
}
.swiper-content > div > button {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
}
.swiper-content > div > p {
  text-align: left;
  color: white;
  font-size: 20px;
}
.swiper-content > div > p > span:first-child {
  font-weight: 600;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  bottom: 16px !important;
}
.swiper-pagination-bullet {
  background-color: #0000006b !important;
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}
.swiper-pagination-bullet-active {
  background-color: #333333 !important;
}
@media screen and (max-width: 700px) {
  .swiper-slide {
    width: 275px !important;
  }
  .slide-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4)),
      url(./assets/carousel_images/mobile_images/1.jpg);
  }
  
  .swiper-content {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .swiper-mobile-images {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .swiper-mobile-images > img:first-child,
  .swiper-mobile-images > span {
    height: 28px;
  }
  .swiper-mobile-images > img:last-child {
    width: 100%;
  }
  .swiper-content > div:last-child {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    
  }
  .swiper-content > div > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 16px;
  }
  .swiper-content > div > p > span {
    text-align: center;
  }
  .swiper-content > div > button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.marquee {
  width: 100% !important;
  height: auto !important;
}
.myMarquee .swiper-wrapper {
  --swiper-wrapper-transition-timing-function: linear !important;
}
.marquee-slide {
  width: 417px !important;
  opacity: 1 !important;
}
.marquee-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.marquee-content > img {
  width: 100%;
}
.marquee-content > p {
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.marquee-controls {
  width: 100%;
  height: 56px;
  padding-inline: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#toggleMarquee {
  background-color: #d2d2d7;
  padding: 4px 4px 0px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #171717;
}

@media screen and (max-width: 1024px) {
  .marquee-slide {
    width: 286px !important;
  }
  .marquee-content > p {
    position: static;
    color: #171717;
    font-weight: 600;
    opacity: 1 !important;
  }
}
.accordion-body {
    padding: 5px 0px !important;
}
.accordion-body > p {
  color: #000000B8 !important;
  margin: 0px !important;
  padding: 6px 14px !important;
}
.accordion-button {
  box-shadow: none !important;
  background-color: transparent !important;
  border-bottom: 1px solid #0000008f !important;
  border-radius: 0px !important;
  padding: 8px 0px !important;
  color: #000000E0 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}
.accordion-button::after {
  height: 12px !important;
  width: 12px !important;
  background-size: contain !important;
}
.accordion-item {
  border: none !important;
  background-color: transparent !important;
  border-radius: 0px !important;
}
.f-div2-mob {
  display: none;
}
@media screen and (max-width: 769px) {
  .f-div2-mob {
    display: block;
  }
  .f-div2 {
    display: none !important;
  }
   .footer-container > p{
    padding-top: 17px;
  }
}
